const purchasedItems = [
  {
    id: '57347ca924597744596b4e71',
    name: 'видеокарта',
    max_price: 100000,
  },
  {
    id: '5c94bbff86f7747ee735c08f',
    name: 'лаб. ключ',
    max_price: 100000,
  },
  {
    id: '5c1d0efb86f7744baf2e7b7b',
    name: 'красная карта',
    max_price: 25000000,
  },
];

module.exports = purchasedItems;
